#main-btn{
	display: block;
	margin: 0 auto 1em;
	font-size: 1.2em;
	color: #838a92;
	border: 1px solid #a4afba;
	border-radius: 3px;
	cursor: pointer;
}
#main-btn:hover{
	color: #6f99ff;
	border-color: #6f99ff;
}

#steps{
	padding-top: 1em;
	border-top: 1px solid #e1e1e1;
}
.step{
	width: 32%;
	float: left;
	border: 1px solid #a4afba;
	border-radius: 3px;
}
#step1{
}
#step2{
	margin-left: 1%;
}
#step3{
	margin-left: 1%;
}

.step > h2{
	margin: 0;
	padding: 0;
	color: #595959;
	border-top: 3px solid #6f99ff;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
}