<div class="step" ng-controller="MeetController as meet">
	<h2 ng-click="meet.sort()" title="Сортировка">Список встреч</h2>
	<div class="wrapper_info">
		<table>
			<tr ng-repeat="item in meet.meet.list | orderBy:meet.sortField:meet.reverse">
				<td>{{item.name}}</td>
				<td>{{item.time}}</td>
				<td>{{item.fulfill | checkfulfill}}</td>
				<td>
					<input type="submit" class="btn" value="{{!item.fulfill? 'Выполнить': 'Не выполнить'}}" ng-click="meet.fulfill($index)">
				</td>
				<td>
					<input type="submit" class="btn" value="Удалить" ng-click="meet.deleteItem($index)">
				</td>
			</tr>
		</table>
	</div>

	<form>
		<hr>
		<div class="wrapper_info">
			<table>
				<tr>
					<td>Имя:</td>
					<td><input type="text" ng-model="meetNew.name" required></td>
				</tr>
				<tr>
					<td>Время:</td>
					<td><input type="text" ng-model="meetNew.time" required ></td>
				</tr>
				<tr colspan="2">
					<td><input class="btn" type="submit" value="Добавить" ng-click="meet.add(meetNew)"></td>
				</tr>
			</table>
		</div>
	</form>
</div>