<div class="step" ng-controller="TodolistController as todolist">
	<h2 ng-click="todolist.sort()" title="Сортировка">Список дел</h2>
	<table>
	<tr ng-repeat="item in todolist.todolist.list | orderBy:todolist.sortField:todolist.reverse">
			<td>{{item.title}}</td>
			<td>{{item.time}}</td>
			<td>{{item.fulfill | checkfulfill}}</td>
			<td>
				<input type="submit" class="btn" value="{{!item.fulfill? 'Выполнить': 'Не выполнить'}}" ng-click="todolist.fulfill($index)">
			</td>
			<td>
				<input type="submit" class="btn" value="Удалить" ng-click="todolist.deleteItem($index)">
			</td>
		</tr>
		<tr>
			<td colspan="2">Список встреч:</td>
			<td colspan="3">{{todolist.todolist.meet}}</td>
		</tr>
	</table>

	<form>
		<hr>
		<table>
			<tr>
				<td>Название:</td>
				<td><input type="text" ng-model="todoListNew.title" required></td>
			</tr>
			<tr>
				<td>Время:</td>
				<td><input type="text" ng-model="todoListNew.time" required ></td>
			</tr>
			<tr colspan="2">
				<td><input class="btn" type="submit" value="Добавить" ng-click="todolist.add(todoListNew)"></td>
			</tr>
		</table>
	</form>
</div>