<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-controller="MainController as main">
    <input type="submit" id="main-btn" value="Рандомный человек" ng-click="main.activate()">
      <div class="step" id="step1">
      <h2>Человек</h2>
        <table>
          <tr>
            <td>Имя:</td>
            <td>{{main.step1.firstName}}</td>
          </tr>
          <tr>
            <td>Фамилия:</td>
            <td>{{main.step1.lastName}}</td>
          </tr>
          <tr>
            <td>Возраст:</td>
            <td>{{main.step1.age}}</td>
          </tr>
          <tr>
            <td>Пол:</td>
            <td>{{main.step1.gender}}</td>
          </tr>
          <tr>
            <td>Список дел:</td>
            <td>{{main.step1.todoListUrl}}</td>
          </tr>
        </table>
      </div>
      <div class="step" id="step2">
      <h2 ng-click="main.sort('name')" title="Сортировка">Список дел</h2>
        <table>
          <tr ng-repeat="item in main.step2.list | orderBy:main.sortField:main.reverse">
            <td>{{item.name}}</td>
            <td>{{item.time}}</td>
            <td>{{item.fulfill | checkfulfill}}</td>
          </tr>
          <tr>
            <td colspan="2">Список встреч:</td>
            <td>{{main.step2.meet}}</td>
          </tr>
        </table>
      </div>
      <div class="step" id="step3">
      <h2 ng-click="main.sort('name')" title="Сортировка">Список встреч</h2>
        <table>
          <tr ng-repeat="item in main.step3.list | orderBy:main.sortField:main.reverse">
            <td>{{item.name}}</td>
            <td>{{item.time}}</td>
            <td>{{item.fulfill | checkfulfill}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <widget-test test-info="'12345'"
  test-data="main.step1">
</widget-test>

<script src="js/main.js"></script>
<script src="js/main.controller.js"></script>
<script src="js/helpers.module.js"></script>
<!-- <script src="js/widjets.module.js"></script> -->
<!-- <script src="js/widget-test.directive.js"></script> -->
<!-- <script src="js/helpers.module.js"></script> -->

<script src="js/dataservice.service.js"></script>
</body>
</html>