<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-controller="MainController as main">
    <input type="submit" class="btn" id="main-btn" value="Рандомный человек" ng-click="main.activate()">
      <div class="step" id="step1">
      <h2>Человек</h2>
        <table>
          <tr>
            <td>Имя:</td>
            <td>{{main.user.firstName}}</td>
          </tr>
          <tr>
            <td>Фамилия:</td>
            <td>{{main.user.lastName}}</td>
          </tr>
          <tr>
            <td>Возраст:</td>
            <td>{{main.user.age}}</td>
          </tr>
          <tr>
            <td>Пол:</td>
            <td>{{main.user.gender}}</td>
          </tr>
          <tr>
            <td>Список дел:</td>
            <td>{{main.user.todoListUrl}}</td>
          </tr>
        </table>
      </div>
      <div class="step" id="step2">
      <h2 ng-click="main.sort('title')" title="Сортировка">Список дел</h2>
        <table>
          <tr ng-repeat="item in main.todolist.list | orderBy:main.sortField:main.reverse">
            <td>{{item.title}}</td>
            <td>{{item.time}}</td>
            <td>{{item.fulfill | checkfulfill}}</td>
            <td><input type="submit" class="btn" value="{{item.fulfill? 'Выполнить': 'Не выполнить'}}" ng-click="main.fulfill('todolist', $index)"></td>
            <td><input type="submit" class="btn" value="Удалить" ng-click="main.deleteItem('todolist', $index)"></td>
          </tr>
          <tr>
            <td colspan="2">Список встреч:</td>
            <td colspan="3">{{main.todolist.meet}}</td>
          </tr>
        </table>
      </div>
      <div class="step" id="step3">
      <h2 ng-click="main.sort('name')" title="Сортировка">Список встреч</h2>
        <table>
          <tr ng-repeat="item in main.step3.list | orderBy:main.sortField:main.reverse">
            <td>{{item.name}}</td>
            <td>{{item.time}}</td>
            <td>{{item.fulfill | checkfulfill}}</td>
            <td><input type="submit" class="btn" value="{{item.fulfill? 'Выполнить': 'Не выполнить'}}" ng-click="main.fulfill('meet', $index)"></td>
            <td><input type="submit" class="btn" value="Удалить" ng-click="main.deleteItem('meet', $index)"></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <widget-test test-info="'12345'"
  test-data="main.step1">
</widget-test>

<script src="js/module/main.js"></script>
<script src="js/module/helpers.module.js"></script>
<script src="js/module/user.module.js"></script>
<script src="js/module/todolist.module.js"></script>
<script src="js/module/meet.module.js"></script>

<script src="js/value/user.value.js"></script>
<script src="js/value/todolist.value.js"></script>

<script src="js/controller/main.controller.js"></script>
<script src="js/controller/todolist.controller.js"></script>

<script src="js/servise/dataservice.service.js"></script>


<script src="js/filter/checkfulfill.filter.js"></script>
<!-- <script src="js/widjets.module.js"></script> -->
<!-- <script src="js/widget-test.directive.js"></script> -->
<!-- <script src="js/helpers.module.js"></script> -->

</body>
</html>